body {

}
.modal-content {
	padding: 10px;
}
.modal-dialog {
	width: 500px;
}
#bg-img {
	z-index: -1000;
	position: absolute;
	top: 0;
	left: 0;
}
.gray {
	background-color: #ebebeb;
}
.obj-count {
	border-radius: 10px;
	padding: 1px 10px;
	cursor: default;
}
.obj-count:hover {
	color: orange;
	transition: all .3s;
}
.updated {
	padding: 1px 10px;
	display: inline;
	border-radius: 10px;

}
.updated:hover{
	color: orange;
	transition: all .3s
}
.visible-layer{
	border-radius: 10px;
	padding: 1px 10px;
	cursor: default;
	display: inline;
	cursor: pointer;
}
.visible-layer:hover{
	color: orange;
	transition: all .3s;
	cursor: pointer;
}
.visible-scale{
	border-radius: 10px;

	padding: 1px 10px;
	cursor: default;
	display: inline;
}
.visible-scale:hover{
	color: orange;
	transition: all .3s;
}
.float-r {
	float: right;
	margin-left: 5px;
}
.float-l {
	float: left;
	margin-right: 5px;
}
.list-group-my {
	border: 1px solid #ebebeb;
	border-radius: 10px;
	cursor: pointer;
	background-color: #ffffff;
}
.list-group-item-my {
	padding: 10px;
	border-top: 1px solid #ebebeb;
	cursor: pointer;
}
.list-group-item-my:first-child {
	border-top: none;
	border-radius: 10px 10px 0 0; 
}
.list-group-my>span:last-child>.next-item:last-child {
	border-radius: 0 0 10px 10px ; 
}
.next-item {
	background-color: #d4d4d4;
}
.icons-wrapper {
	width: 200px; 
	float: right;
}
#top-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	width: 50%;
	top: 10px;
	left: 15px;
	padding: 20px 15px;			
}
